body{
	background-image:url('../images/poblano_chicken_and_noodles.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
.pic{
	filter: contrast(150%);
	background-image: url('../images/profile_pic.jpg');
	border-radius: 50%;
	height: 200px;
	width: 200px;
	background-size: cover;
}
.main{
	background-color: black;
	height: 100%;
	margin-top: 350px;
	color: black;
}
article p{
	padding: 20px;
	font-size: 20px;
}
.main h1,article,footer{
	text-align: left;
	background-color: white;
	padding: 25px;
}
footer{
	margin-top: 25px;
}
.meal{
	background-image:url('../images/poblano_chicken_and_noodles.jpg');
	height: 450px;
	width:450px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.produce-1{
	background-image:url('../images/produce-1.jpg');
	height: 450px;
	/* width:350px; */
	background-size: cover;
	background-repeat: no-repeat;
	margin: 10px;
}
.produce-2{
	background-image:url('../images/produce-2.jpg');
	height: 450px;
	/* width:350px; */
	background-size: cover;
	background-repeat: no-repeat;
	margin: 10px;
}
.chicken-1{
	background-image:url('../images/searing-chicken-2.jpg');
	height: 450px;
	/* width:350px; */
	background-size: cover;
	background-repeat: no-repeat;
	margin: 10px;
}