body{
	background-color: black;
	font-family: 'Roboto', sans-serif;
}
.btn{
	color: white;
	background-color: black;
	padding: 20px;
	position: fixed;
	top: 20px;
	z-index: 100;
	cursor: pointer;
	opacity: .5;
}
.btn:hover{
	opacity: 1;
}
.featured{
	height: 500px;
	background-image:url('https://images.pexels.com/photos/890507/pexels-photo-890507.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	cursor: pointer;
}
.featured:hover{
	filter: brightness(120%);
}

.featured div{
	position: absolute;
	bottom: 0px;
	background-color: rgba(0,0,0,.50);
}