body{
	background-color: black;
	font-family: 'Roboto', sans-serif;
}
a{
	color: white;
}
a:hover{
	text-decoration: none;
	color: white;
}
.btn{
	color: white;
	background-color: black;
	padding: 20px;
	position: fixed;
	top: 20px;
	z-index: 100;
	cursor: pointer;
	opacity: .5;
}
.btn:hover{
	opacity: 1;
}
.featured{
	padding: 50px;
	height: 500px;
	background-image:url('https://images.pexels.com/photos/890507/pexels-photo-890507.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	cursor: pointer;
}
.featured:hover, .post1:hover{
	filter: brightness(120%);
}

.featured div{
	position: absolute;
	bottom: 0px;
	background-color: rgba(0,0,0,.50);
}

.post_row_1{
	height: 100%;
}
.post1{
	background-image:url('../images/poblano_chicken_and_noodles.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
.post1 div{
	margin: 10px;
	padding: 10px;
	background-color: rgba(0,0,0,.50);
}



@media only screen and (max-width: 600px) {
	.featured div{
		top: 0px;
		left: 0px;
		height: 100%;
	}
	.post_row_1 div{
		height: 100%;
	}
	.post1{
		width: 100%;
	}
	.post1 h1{
		text-align: center;
	}
	.post1 p{
		display: none;
	}
}