body{
	background-image:url('https://images.pexels.com/photos/890507/pexels-photo-890507.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
.main{
	background-color: black;
	height: 100%;
	margin-top: 350px;
	color: black;
}
.main h1,article,footer{
	text-align: left;
	background-color: white;
	padding: 25px;
}
footer{
	margin-top: 25px;
}
article p{
	padding: 20px;
	font-size: 20px;
}
article header{
	font-size: 30px;
}
.btn{
	color: white;
	background-color: black;
	padding: 20px;
	position: fixed;
	top: 20px;
	z-index: 100;
	cursor: pointer;
	opacity: .5;
}
.btn:hover{
	opacity: 1;
}
.about{
	margin-top: 50px;	
	text-align: right;
}
.pic{
	filter: contrast(150%);
	background-image: url('../images/profile_pic.jpg');
	border-radius: 50%;
	height: 200px;
	width: 200px;
	background-size: cover;
}