

#home{
	position: fixed;
}
#synopsis{
	font-size: 20px;
}
.net h1{
	top: 0px;
	position: absolute;
    color:red;
    font-family:monospace;
	background-color: rgba(255, 230, 230, .9);
	font-size: 40px;
	z-index: 5;
}

.net p {
	bottom: 0px;
	position: absolute;
	color:red;
	font-family:monospace;
	font-size: 20px;
	background-color: rgba(255, 230, 230, .9);
}
.net-diver{
	background-color: white;
	color: red;
}
.net-div{
	position: abosolute;
	top: 0px;
	z-index: 1;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.5);
}
.cover{
	height: 820px;
	position: fixed;
	bottom: 0px;
	z-index: 0;
}

#c{
	z-index: -1;
}

@media only screen and (max-width: 600px){
	#c{
		height: 700px;
	}
	.cover{
		height: 720px;
		z-index: 0;
	}
	
}