

#home{
	position: fixed;
}
.net h1{
    z-index:2;
    position:absolute;
    top:0.5em;
    color:red;
    font-family:monospace;
	background-color:  #ffe6e6;
	font-size: 40px;
}
#synopsis{
	font-size: 20px;
}
.net{
	position: relative;
}
.net p {
	color:red;
	z-index:2;
	bottom: 0px;
    position:absolute;
	font-family:monospace;
	font-size: 20px;
	background-color: rgba(255, 230, 230, .9);
}

.net-diver{
	background-color: white;
	color: red;
}
.net-div{
	position: abosolute;
	top: 0px;
	z-index: 1;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.5);
}
.cover{
	height: 820px;
	position: fixed;
	bottom: 0px;
	z-index: 0;
}

#c{
	z-index: -1;
}

@media only screen and (max-width: 600px){
	#c{
		height: 700px;
	}
	.cover{
		height: 720px;
		z-index: 0;
	}
	.net h1{
		position: relative;
	}
	.net p {	
		color:red;
		position:absolute;
		bottom: 0px;
		font-family:monospace;
		font-size: 15px;
		background-color: rgba(255, 230, 230, .9);
		margin-top: 20px;
	}
	
}