

#home{
	position: fixed;
}
.net h1{
    z-index:2;
    position:absolute;
    top:0.5em;
    color:red;
    font-family:monospace;
	background-color:  #ffe6e6;
	font-size: 40px;
	cursor: pointer;
}
.synopsis{
	z-index: 1;
    position: absolute;
    color: red;
    font-family:monospace;
	background-color:  #ffe6e6;
	padding: 5px;
	font-size: 15px;
	overflow: scroll;
}
.synopsis p {
	font-size: 18px;
}
.net-diver{
	background-color: white;
	color: red;
}
.net-div{
	position: abosolute;
	top: 0px;
	z-index: 1;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.5);
}
.cover{
	height: 720px;
	position: absolute;
	bottom: 0px;
	z-index: 1;
}
.dias{
	height: 720px;
	position: absolute;
	top: 0px;
	z-index: 1;
}
.synopsis{
	position: fixed;
	top: 10%;
}

@media only screen and (max-width: 600px){
	.dias{
		display: none;
	}
}